@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

html{
  scroll-behavior: smooth;
}
@keyframes bounceIn {
    0% {
      transform: scale(1.1) ;
      
    }

    25% {
      transform: scale(0.8) ;
    }
    60% {
      transform: scale(1.2);
      
    }
    100% {
      transform: scale(1);
    }
  }


body {
    height: 100%;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    background-color: #25b79f;
    margin-bottom: 60px; 
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#intro{
  height: 100vh;
}
.message{
height: 50vh;
}

#chevron{
  width: 5vw;
  height: 5vw;
}

#chevron-upside{
  width: 5vw;
  height: 5vw;
  transform: rotateX(0.5turn);
}


.navbar{
  height: 70px;
  width: 100%;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #f0f0e6;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  display: block;
  position: fixed;
}

.scrollButton{
  display: flex;
  align-content: flex-start;
}

.row{
  width: 100vw;
}

.header{
  width: 100%;
  text-align: center;
}

.logos{
  display: flex;
  overflow: hidden;
  height: fit-content;
  justify-content: center;
  }

.vl{
  border-left: 2px white solid;
}

.flex-des{
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
}

#mainDP,.logoDP{
    border-radius: 50%; 
    width: 15vw;
     height: 15vw; 
     border: 2px solid white;
     animation: bounceIn 1.8s;
}



.desc{
  display:flex;
width: 60vw;;
  justify-content: center; 
  font-size: 28px;
   color: white ;
}
#mainDP:hover{
  width: 15vw;
  height: 15vw; 
    /*border-color: violet;*/
    

     }

@media screen and (max-width: 768px){
  #mainDP{
    width: 40vw;
    height: 40vw; 
  }
  #chevron{
    width: 10vw;
    height: 10vw;
  }
  
  #chevron-upside{
    width: 10vw;
    height: 10vw;
    transform: rotateX(0.5turn);
  }
  .desc{
    font-size: 16px;
    width: 90vw;
  }
  .logoDP{
    width:40vw;
    height: 40vw;
  }
}
