@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

html{
  scroll-behavior: smooth;
}
@keyframes bounceIn {
    0% {
      transform: scale(1.1) ;
      
    }

    25% {
      transform: scale(0.8) ;
    }
    60% {
      transform: scale(1.2);
      
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}
  
  body{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  font-family: "Comfortaa";
  width: 100%;
  height:auto;
 
}

.label{
  font-family: 'Amatic SC' , cursive, bold;
  font-size: 60px;
  align-self: center;
  color: white;
  width: 20vw;
 display: flex;
 justify-content: center;
 border-top: 2px solid white;
 border-bottom: 2px solid white;

}

.circles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  border-radius: 50%;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background-color: white;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  background-color: white;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background-color: white;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  background-color: white;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  background-color: white;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  50%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

#intro{
  height: 100vh;
}
.message{
height: 50vh;
}

#chevron{
  width: 5vw;
  height: 5vw;
}

#chevron-upside{
  width: 5vw;
  height: 5vw;
  transform: rotateX(0.5turn);
}


.navbar{
  height: 70px;
  width: 100%;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #f0f0e6;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  display: block;
  position: fixed;
}

.scrollButton{
  display: flex;
  align-content: flex-start;
}

.row{
  width: 100vw;
  position: relative;
}

.header{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logos{
  display: flex;
  overflow: hidden;
  height: fit-content;
  justify-content: center;
  }

.vl2, .vl{
  border-left: 2px white solid;
}

.desc-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about{
  display: inline-flex;
  width: 220px;
  height: 220px;
  align-self: center;
  border-radius: 25%;
  border: 2px solid white;
  animation:swing-in-top-fwd 1.5s cubic-bezier(.175,.885,.32,1.275) both;
  animation-delay: 1s;
}

.box{
  width: 20vw;
  color: white;
  text-align: center;
}




.flex-des{
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mainDP,.logoDP{
    border-radius: 50%; 
    width: 15vw;
     height: 15vw; 
     border: 2px solid white;
     animation: swing-in-top-fwd 1.5s cubic-bezier(.175,.885,.32,1.275) both;
}



.desc{
  display:flex;
width: 60vw;;
  justify-content: center; 
  font-size: 28px;
   color: white ;
}
#mainDP:hover{
  width: 15vw;
  height: 15vw; 
    /*border-color: violet;*/
    

     }

@media screen and (max-width: 768px){
  #mainDP{
    width: 40vw;
    height: 40vw; 
  }
  .about{
    width: 100px;
    height: 100px;
  }
  .vl{
    display: none;
  }
  #chevron{
    width: 10vw;
    height: 10vw;
  }
  
  #chevron-upside{
    width: 10vw;
    height: 10vw;
    transform: rotateX(0.5turn);
  }
  .desc{
    font-size: 16px;
    width: 90vw;
  }
  .logoDP{
    width:40vw;
    height: 40vw;
  }

  .label{
    font-size: 47px;
    width: 55vw;
  }

  .box{
    font-size: 12px;
  }
}
